In [ ]:
nome = input("digite seu primeiro nome: ")
print(nome)
#bom dia

digite seu primeiro nome: astolfo
astolfo

In [ ]:
nome = input("digite seu primeiro nome: ").capitalize()
sobrenome = input("digite seu sobrenome: ").capitalize()
print(nome,sobrenome)

digite seu primeiro nome: Guilherme
digite seu sobrenome: Ribeior
Guilherme Ribeior

In [ ]:
print("x     x\n x   x\n  x x\n   x\n  x x\n x   x\nx     x")

x     x
 x   x
  x x
   x
  x x
 x   x
x     x

In [ ]:
z=int(input("dia do aniversário: "))
x=input("mês do aniversário: ")
a=int(input("dia de hj: "))
b=input("mês de hj: ")
if x == "janeiro" or x == "1":
  m=0
elif x == "fevereiro" or x == "2":
  m=31
elif x == "março" or x == "3":
  m=59
if x == "abril" or x == "4":
  m=90
if x == "maio" or x == "5":
  m=120
if x == "junho" or x == "6":
  m=151
if x == "julho" or x == "7":
  m=181
if x == "agosto" or x == "8":
  m=212
if x == "setempro" or x == "9":
  m=242
if x == "outubro" or x == "10":
  m=273
if x == "novembro" or x == "11":
  m=303
if x == "dezembro" or x == "12":
  m=334
if b == "janeiro" or b == "1":
  d=0
if b == "fevereiro" or b == "2":
  d=31
if b == "março" or b == "3":
  d=59
if b == "abril" or b == "4":
  d=90
if b == "maio" or b == "5":
  d=120
if b == "junho" or b == "6":
  d=151
if b == "julho" or b == "7":
  d=181
if b == "agosto" or b == "8":
  d=212
if b == "setempro" or b == "9":
  d=242
if b == "outubro" or b == "10":
  d=273
if b == "novembro" or b == "11":
  d=303
if b == "dezembro" or b == "12":
  d=334
h = int(z+m)-int(a+d)
print(h)
if h > 0:
  print("faltam:",h,"dia(s) pro seu anivérsario")
if h < 0:
  print("faz",-h,"dia(s) desde o seu aniversário")
if h==0:
  print("hj é a por-- do seu aniversário. pq vc ta querendo saber isso. caso vc ainda queira saber. FALTAM 365 PRO DIA QUE SUA MÃE TE PARIU")

dia do aniversário: 16
mês do aniversário: 12
dia de hj: 13
mês de hj: 4
247
faltam: 247 dia(s) pro seu anivérsario

In [ ]:
P=input("preço: ")
print("então...  \ngostei de vc    \nvo faze um preço de amigo pra tu")
D = float(P)*float(0.8)
d = float(P)*float(0.2)
print(float(D),"oq tu acha?\nvai economizar",float
 (d),"conto")

preço: 60
então...
gostei de vc
vo faze um preço de amigo pra tu
48.0 oq tu acha?
vai economizar 12.0 conto

In [ ]:
P=input("preço: ")
N=input("quanto de desconto vc quer negociar:")
print("então...  \ngostei de vc e te achei um eximio negociador   \nvo faze um preço de amigo pra tu")
D = float(P)*float(100-float(N))/float(100)
d = float(P)*float(N)/float(100)
print(float(D),"conto ent?\nta",float(d),"mais barato")

preço: 100
quanto de desconto vc quer negociar:70
então...
gostei de vc e te achei um eximio negociador
vo faze um preço de amigo pra tu
30.0 conto ent?
ta 70.0 mais barato

In [ ]:
p=input("primeiro: ")
s=input("segundo: ")
t=input("terceiro: ")
M=(float(p)+float(t)+float(s))/float(3)
print(float(M))

primeiro: 2
segundo: 4
terceiro: 1
2.3333333333333335

In [ ]:
p=input("primeiro: ")
s=input("segundo: ")
t=input("terceiro: ")
q=input("quarto: ")
mg=(float(q)*float(t)*float(s)*float(p))**float(0.25)
mh=float(4)/(float(p)**float(-1)+float(s)**float(-1)+float(t)**float(-1)+float(q)**float(-1))
M=(float(p)+float(t)+float(s)+float(q))/float(4)
print("média aritmética:",M)
print("média geométrica:",mg)
print("média harmonica:",mh)

primeiro: 4
segundo: 2
terceiro: 6
quarto: 2
média aritmética: 3.5
média geométrica: 3.1301691601465746
média harmonica: 2.823529411764706

In [ ]:
import math
print("Digite 4 números reais:")
n1 = float(input("Número 1: "))
n2 = float(input("Número 2: "))
n3 = float(input("Número 3: "))
n4 = float(input("Número 4: "))

numeros = [n1, n2, n3, n4]

media = sum(numeros) / len(numeros)

variancia = sum((x - media) ** 2 for x in numeros) / len(numeros)

desvio_padrao = (variancia) ** (1/2)

print(f"\nMédia aritmética: {media:.2f}")
print(f"Variância populacional: {variancia:.2f}")
print(f"Desvio padrão: {desvio_padrao:.2f}")

Digite o primeiro número: 4
Digite o segundo número: 2
Digite o terceiro número: 5
Digite o quarto número: 1
Média: 3.0
Variância: 2.5
Desvio padrão: 1.5811388300841898

In [ ]:
primeiro = int(input("Digite o primeiro número: "))
segundo = int(input("Digite o segundo número: "))
terceiro = int(input("Digite o terceiro número: "))
print (f"O maior número é {max(primeiro, segundo, terceiro)}")
print (f"O menor número é {min(primeiro, segundo, terceiro)}")

Digite o primeiro número: 2
Digite o segundo número: 5
Digite o terceiro número: 1
O maior número é 5
O menor número é 1

In [ ]:
primeiro = int(input("Digite o primeiro número: "))
segundo = int(input("Digite o segundo número: "))
terceiro = int(input("Digite o terceiro número: "))
print (f"em ordem crescente: {sorted([primeiro, segundo, terceiro])}")
print (f"em ordem decrescente: {sorted([primeiro, segundo, terceiro], reverse=True)}")

Digite o primeiro número: 6
Digite o segundo número: 2
Digite o terceiro número: 1
em ordem crescente: [1, 2, 6]
em ordem decrescente: [6, 2, 1]

In [ ]:
lista = input('digite seu texto separado por espaços: ').split(" ")
lista.sort()
print(lista)

digite seu texto separado por espaços: c a b
['a', 'b', 'c']

In [ ]:
genero = input("Digite o seu gênero (masuclino/feminino): ").strip().lower()
idade = int(input("Digite a sua idade: "))
peso = float(input("Digite o seu peso em kg: "))
altura = float(input("Digite a sua altura em cm: "))
if genero == "masculino" or genero == "m":
    TMB = (66.47 + (13.75 * peso ) + (5.003 * altura) - (6.755 * idade))
elif genero == "feminino" or genero == "f":
    TMB = (655.09 + (9.563 * peso) + (1.85 * altura) - (4.676 * idade))
else:
    print("Gênero inválido")
    exit()
print (f"Taxa Metabólica Basal: {TMB:.2f} kcal/dia")

In [ ]:
numero = int(input("Digite um número inteiro: "))
for i in range(1, 21):
    resultado = numero * i
    print(f"{numero:3d} x {i:3d} = {resultado:3d}")

Digite um número inteiro: 10
 10 x   1 =  10
 10 x   2 =  20
 10 x   3 =  30
 10 x   4 =  40
 10 x   5 =  50
 10 x   6 =  60
 10 x   7 =  70
 10 x   8 =  80
 10 x   9 =  90
 10 x  10 = 100
 10 x  11 = 110
 10 x  12 = 120
 10 x  13 = 130
 10 x  14 = 140
 10 x  15 = 150
 10 x  16 = 160
 10 x  17 = 170
 10 x  18 = 180
 10 x  19 = 190
 10 x  20 = 200

In [ ]:
numero = int(input("Digite um número inteiro: "))
print(f'{numero} x {1:2d} = {numero * 1:2d}')
print(f'{numero} x {2:2d} = {numero * 2:2d}')
print(f'{numero} x {3:2d} = {numero * 3:2d}')
print(f'{numero} x {4:2d} = {numero * 4:2d}')
print(f'{numero} x {5:2d} = {numero * 5:2d}')
print(f'{numero} x {6:2d} = {numero * 6:2d}')
print(f'{numero} x {7:2d} = {numero * 7:2d}')
print(f'{numero} x {8:2d} = {numero * 8:2d}')
print(f'{numero} x {9:2d} = {numero * 9:2d}')
print(f'{numero} x {10:2d} = {numero * 10:2d}')

Digite um número inteiro: 6
6 x  1 =  6
6 x  2 = 12
6 x  3 = 18
6 x  4 = 24
6 x  5 = 30
6 x  6 = 36
6 x  7 = 42
6 x  8 = 48
6 x  9 = 54
6 x 10 = 60

In [ ]:
print(f'{23:+4d}')
print(f'{1:+04d}')
print(f'{23:+4d}')

 +23
+001
 +23

In [ ]:
print(f'{3.14159}')
print(f'{3.14159:.4f}')

3.14159
3.1416

In [ ]:
x = 2.62
print(f'{(1.62 * x):.1f}')

4.2